{% extends 'layouts/main.html' %}
{% block title %}Diabetes{% endblock %}
{% block content %}

<div class="page-header">
<h1>Diabetes</h1>

  </div>
  <h4>WHAT IS DIABETES?</h4>
  <p class="lead">What is diabetes mellitus?</p>
  <p>Diabetes mellitus is a lifelong condition caused by a lack, or insufficiency of insulin. Insulin is a hormone – a substance of vital importance that is made by your pancreas. Insulin acts like a key to open the doors into your cells, letting sugar (glucose) in. In diabetes, the pancreas makes too little insulin to enable all the sugar in your blood to get into your muscle and other cells to produce energy. If sugar can’t get into the cells to be used, it builds up in the bloodstream. Therefore, diabetes is characterized by high blood sugar (glucose) levels.</p>
  <p class ="lead">Before you got diabetes</p>
  <p>Before you got diabetes, your body automatically kept your blood sugar exactly at the right level. Here is how that worked. After a meal containing carbohydrates, sugar is absorbed into the blood stream very quickly. The amount of sugar in your blood must not get too high or too low. Two hormones – insulin and glucagon – were produced in the pancreas – to ensure that the blood sugar was always well controlled no matter how much you had to eat and how much you exercised.</p>
  <p class = "lead">Types of diabetes</p>
  <p><b>Diabetes Mellitus</b> is the most common and there is two different categories:</p>
  <p><b>Type 1 diabetes</b> tends to occur in childhood or early adult life, and always requires treatment with insulin injections. It is caused by the body’s own immune system destroying the insulin-making cells (beta-cells) of the pancreas.<p>
  <p><b>Type 2 diabetes</b>b> usually develops slowly in adulthood. It is progressive and can sometimes be treated with diet and exercise, but more often Type 2 diabetes may require antidiabetic medicine and/or insulin injections.</p>
  <p><b>Diabetes Insipidus</b> is often confused with diabetes mellitus because of the similar name and symptoms. Diabetes insipidus is a rare disorder where the system the body uses to regulate its water levels becomes disrupted. More information can be found <a href="https://www.hse.ie/eng/health/az/d/diabetes-insipidus/symptoms-of-diabetes-insipidus.html">here</a>. To contact the Irish support group see  <a href="https://www.pituitary.org.uk/support-for-you/support-in-your-area/ireland/republic-of-ireland/">http://www.pituitary.org.uk/support-for-you/support-in-your-area/ireland/republic-of-ireland/</a></p>
  {% endblock %}