{% extends 'layouts/main.html' %}
{% block title %}User Profiling{% endblock %}
{% block content %}

<div class="page-header" style="text-align: left;">
  <h1>User Profiling</h1>
</div>

<div id='userForm'>
<form method="post" class="form">
  <h2>Find medical history</h2> 
  {{ form.csrf_token }}
  {{ form.first_name(class_ = 'form-control', placeholder = form.first_name.label.text, required = true) }}
  {{ form.last_name(class_ = 'form-control', placeholder = form.last_name.label.text, required = true) }}

  <input id="submitB" type='submit' value='Search'>
</form>

<table class="table" id="diabtable">
  <h3> Diabetes Records </h3>
    <thead class="thead-dark">
      <tr>
        <th scope="col"># Pregnant</th>
        <th scope="col">Glucose</th>
        <th scope="col">Blood Pressure</th>
        <th scope="col">Skin Fold</th>
        <th scope="col">BMI</th>
        <th scope="col">Pedigree Function </th>
        <th scope="col">Age</th>

      </tr>
    </thead>
    <tbody>
      {% for record in records %}
        <tr>
          <td>{{ record.times_pregnant }}</td>
          <td>{{ record.glucose_concentration }}</td>
          <td>{{ record.diastolic_blood_pressure }}</td>
          <td>{{ record.triceps_skin_fold_thickness }}</td>
          <td>{{ record.bmi }}</td>
          <td>{{ record.diabetes_pedigree_function }}</td>
          <td>{{ record.age }}</td>
          <td>{{ record.prediction }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
  <h3> Breast Cancer Records </h3>
  <table class="table" id="cancertable">
    <thead class="thead-light">
      <tr>
        <th scope="col">Age</th>
        <th scope="col">BMI</th>
        <th scope="col">Glucose</th>
        <th scope="col">Insulin</th>
        <th scope="col">HOMA</th>
        <th scope="col">Leptin</th>
        <th scope="col">Adiponectin</th>
        <th scope="col">Resistin</th>
        <th scope="col">MCP</th>
      </tr>
    </thead>
    <tbody>
        {% for record in records_cancer %}
          <tr>
            <td>{{ record.age }}</td>
            <td>{{ record.bmi }}</td>
            <td>{{ record.glulcose }}</td>
            <td>{{ record.insulin }}</td>
            <td>{{ record.homa }}</td>
            <td>{{ record.leptin }}</td>
            <td>{{ record.adiponectin }}</td>
            <td>{{ record.reistin }}</td>
            <td>{{ record.mcp }}</td>

          </tr>
        {% endfor %}
      </tbody>
  </table>

  <h3> Heart Disease Records </h3>
  <table class="table" id="hearttable">
      <thead class="thead-light">
        <tr>
          <th scope="col">Age</th>
          <th scope="col">Sex</th>
          <th scope="col">Blood pressure</th>
          <th scope="col">Cholesterol</th>
          <th scope="col">Blood sugar</th>
          <th scope="col">ECG</th>
          <th scope="col">Heart rate</th>
          <th scope="col">Angina</th>
          <th scope="col">Epression</th>
          <th scope="col">Peak EXR</th>
          <th scope="col">Major Vessels</th>
          <th scope="col">Thal</th>
        </tr>
      </thead>
      <tbody>
          {% for record in records_heart %}
            <tr>
              <td>{{ record.age }}</td>
              <td>{{ record.sex }}</td>
              <td>{{ record.chest_pain }}</td>
              <td>{{ record.blood_pressure }}</td>
              <td>{{ record.cholesterol }}</td>
              <td>{{ record.blood_sugar }}</td>
              <td>{{ record.electro }}</td>
              <td>{{ record.heart_rate }}</td>
              <td>{{ record.angina }}</td>
              <td>{{ record.epression }}</td>
              <td>{{ record.peak_ex }}</td>
              <td>{{ record.major_vessels }}</td>
              <td>{{ record.thal }}</td>
 
            </tr>
          {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}