{% extends 'layouts/main.html' %} {% block title %}About{% endblock %} {% block content %}

<div class="page-header">
    <h1>About Web Medi-Screen</h1>
</div>
<p class="lead">Everything you want to know about Web Medi-Screen</p>
<h4>Web Medi-Screen Establishment</h4>
<p>The <a href="http://127.0.0.1:5000/">Web Medi-Screen</a> is established through a project in September 2019. It is a group project. A group of three to four student within the <a href="https://www.cit.ie/">Cork Institute of Technology (CIT)</a> involved
    building this project. This project was built by three students <i>Rafal Rosa</i>, <i>Matthew Keating</i> and <i>Abdul Hadi Mirzada</i>. This project was supervised by a great experienced teacher <i><b>Seamus Lankford</b></i> with lots of thanks from
    his excellent attitude, experience and supervision. </p>

<h4>About Web Medi-Screen</h4>
<p>The
    <a href="http://127.0.0.1:5000/">Web Medi-Screen</a> contains a lot of information about the different problems such as Cancer, Diabetes and Heart diseases as well as lots of related pictures. </p>
<h4>The home page (Web Medi-Screen)</h4>
<p>The home page contains an attraction slider, gallery some informative texts, photos, footer(contains internal and external links to Web Medi-Screen and other websites) and links to sign up or login with other applications such as Facebook and Twitter,
    Email and telephone number. Home page was built as one of the responsive pages</p>

<h4>The User Profiling page</h4>

<p>The<a href="http://127.0.0.1:5000/medi_Ai_Interface">User Profiling</a> page enables insurance professionals and doctors to check reports establishing the level of risk for all categories within the website. This page can provide professionals with positive
    and negative indication on <a href="http://127.0.0.1:5000/diabetes">Diabetes</a>, <a href="http://127.0.0.1:5000/cancer">Breast Cancer</a> and <a href="http://127.0.0.1:5000/HeartDiseases">Heart Diseases</a> reports if any available. </p>
<p>User Profiling shows the average age patients are suffering with these problems as well as the average BMI people have. </p>

<h4>The Cancer page</h4>
<p>The <a href="http://127.0.0.1:5000/cancer">Cancer</a> page contains information about Cancer, types of Cancer, Cancer spreads and internal links within the website.</p>

<h4>The Diabetes page</h4>
<p>This page contains information about what is <a href="http://127.0.0.1:5000/diabetes">Diabetes</a>, before you got Diabetes, types of Diabetes and link for more information about Diabetes.</p>

<h4>The Heart diseases page</h4>
<p>The page contains massive amount of information about <a href="http://127.0.0.1:5000/HeartDiseases">Heart diseases</a>, Symptoms, Causes, Treatment, Prevention, Statistics and external links to some other websites. A great facility for going up and down
    as all the links at the top left side jumps straight to the topic and the "Top" red button at the right bottom of the page with jump back to the top.</p>

<h4>Register</h4>
<p>The <a href="http://127.0.0.1:5000/register">Register page</a> is going to ask the medical and insurance professionals to Register by providing username, first name, last name, email, selection of their categories from drop down menu and creating password
    for the <a href="http://127.0.0.1:5000/login">login</a> in to the system. Navigation to home page or login page is facility from this page. Register page was built responsive</p>

<h4>Login page</h4>
<p>The <a href="http://127.0.0.1:5000/login">login page</a> is provided with login or submit query and a facilities to Navigate to register and home page. Login page was built responsive</p>

<div id="footercontainer">

    <div id="group1">
        <h5>PATINTS & VISITORS</h5>
        <ul>
            <li><a href="#newProducts">Patient Consent</a></li>
            <li><a href="#laptops">Admisions</a></li>
            <li><a href="#desktops">Visit the hospital</a></li>
            <li><a href="#printers">Pay you bill</a></li>
        </ul>
    </div>

    <div id="group2">
        <h5>OUR SERVICES</h5>
        <ul>
            <div>
                <li><a href="http://127.0.0.1:5000/cancer">Cancer treatmen</a></li>
            </div>
            <div>
                <li><a href="#privacy">Radiation Therapy</a></li>
            </div>
            <div>
                <li><a href="#culture">Chemotherapy</a></li>
            </div>
            <div>
                <li><a href="#culture">Glycated hemoglobin</a></li>
            </div>
        </ul>
    </div>
    <div id="group3">
        <h5>RESEARCH & EDUCATION</h5>
        <ul>
            <li><a href="#itServices">Training Accredition Report</a></li>
            <li><a href="#examinations">Nursing & Midwife</a></li>
            <li><a href="#libraries">Post Graduate Medical Education</a></li>
            <li><a href="#admissions">Clinic Studies & Trials</a></li>
            <li>
                <a href="#register"></a>
            </li>
        </ul>
    </div>
    <div id="group4">
        <h5>Contact us</h5>
        <ul>
            <li><a href="http://www.mycit.ie/">Email Us: abdul@mycit.ie</a></li>
            <li><a href="#tele">Tel: +353 785327</a></li>
        </ul>

    </div>
    <div id="group5">
        <ul>
            <h6>Follow Us</h6>
            <li>
                <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                <a href="https://twitter.com/" class="fa fa-twitter"></a>
            </li>
        </ul>
    </div>
</div>


{% endblock %}