{% extends 'layouts/main.html' %} {% block title %}About{% endblock %} {% block content %}

<div class="page-header">
    <h1>About Web Medi-Screen</h1>
</div>
<p class="lead">Everything you want to know about Web Medi-Screen</p>
<h4>Web Medi-Screen Establishment</h4>
<p>The Web Medi-Screen is established through a project in September 2019. It is a group project. A group of three to four student within the <a href="https://www.cit.ie/">Cork Institute of Technology (CIT)</a> involved building this project. This project
    was built by three students <i>Rafal Rosa</i>, <i>Matthew Keating</i> and <i>Abdul Hadi Mirzada</i>. This project was supervised by a great experienced teacher <i><b>Seamus Lankford</b></i> With lots of thanks from his excellent attitude, experience
    and supervision. </p>

<h4>About Web Medi-Screen</h4>
<p>The Web Medi-Screen contains a lot of information about the different problems such as Cancer, Daibities and Heart diseases as well as lots of related pictures. </p>
<h4>The home page (Web Medi-Screen)</h4>
<p>The home page contains an attraction slider, gallery some informative texts, photoes, footer(contains internal and external links to Web Medi-Screen and other websites) and links to sign up or login with other applications such as Facebook and Twitter,
    Email and telephone number.</p>
<h4>The Cancer page</h4>
<p>The Cancer page contains information about Cancer, types of Cancer, Cancer spreads and internal links within the website.</p>
<h4>The Diabetes page</h4>
<p>This page contains information about what is Diabetes, before you got Diabetes, types of Diabetes and link for more information about Diabeties.</p>
<h4>The Heart diseases page</h4>
<p>The page contains masive amount of information about Heart diseases, Symptoms, Causes, Treatment, Prevention, Statistics and external links to some other websites. A great faciities for going up and down as all the links at the top left side jumps strieght
    to the topic and the "Top" red button at the right bottom of the page with jump back to the top.</p>



{% endblock %}