/**
 * @file
 * Main stylesheet file.
 */


/*****************************************************************************
 * Main elements
 ****************************************************************************/

html {
    overflow-y: scroll;
}

a {
    cursor: pointer;
}

::selection {
    background: #555;
    color: #FFF;
}

::-moz-selection {
    background: #555;
    color: #FFF;
}

::-webkit-selection {
    background: #555;
    color: #FFF;
}

#carousel-notification {
    width: 100%;
}

img {
    border-radius: 50%;
}

.center {
    display: block;
    width: 90%;
    margin: auto;
}


/* Main elements end */


/*****************************************************************************
 * Various other styles
 ****************************************************************************/

#footercontainer {
    display: flex;
    justify-content: space-between;
    background-color: lightcyan;
    flex-wrap: wrap;
    margin-top: 40px;
    align-items: flex-start;
}

li {
    list-style-type: none;
    padding: 10px;
}

#group1 a {
    background-color: lightcyan;
    width: 150px;
    height: 100px;
    color: blue;
    text-decoration: none;
    float: left;
    line-height: 1.6;
    max-height: 40px;
}

#group2 a {
    background-color: lightcyan;
    width: 150px;
    height: 100px;
    color: blue;
    text-decoration: none;
    float: left;
    line-height: 1.6;
    max-height: 40px;
}

#group3 a {
    background-color: lightcyan;
    width: 150px;
    height: 100px;
    color: blue;
    text-decoration: none;
    float: left;
    line-height: 1.6;
    max-height: 40px;
}

#group4 a {
    background-color: lightcyan;
    width: 180px;
    height: 100px;
    color: blue;
    text-decoration: none;
    float: left;
    line-height: 1.0;
    max-height: 40px;
}

#group5 a {
    background-color: lightcyan;
    width: 20px;
    height: 100px;
    color: blue;
    text-decoration: none;
    float: left;
    line-height: 1.0;
    max-height: 40px;
}

.fa {
    padding: 5px;
    width: 10px;
    text-align: left;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    width: 10px;
}

.fa-twitter {
    background: #55ACEE;
    color: red;
    width: 10px;
}

h5 {
    margin-left: 40px;
}

h6 {
    margin-left: 10px;
}


/* Various other styles end */