#userForm {
    width: 90%;
    margin: auto;
    text-align: center;
    display: inline-block;

}

#userForm td {
    text-align: left;
}

#userForm label {
    font-size: 1.5em;
    
}

#submitB {
    display: block;
    margin: 20px auto;
}

.chartheader {
    text-align: center;
}

#info {
    font-size: 1em;
    text-align: center;
}

.chartcontainer {
    width: 33%;
    margin: auto;
    display: inline-block;
}